nav > ul > li{
    display: inline;
    margin-right: 10px;
}

nav li > a{
    text-decoration: none;
}
footer{
    text-align: center;
    margin-top: 30px;
}
article footer a{
    text-decoration: none;
    margin-right: 5px;
}